<div class="d-flex justify-content-between align-items-center mb-4">

  <h2>
    Product List
  </h2>
  @if (role==='Admin') {
  <a routerLink="/add-product" class="btn btn-dark">

    Add Product

  </a>}

</div>
<div class="row mb-3">

  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Search products..." [(ngModel)]="searchText"
      (input)="onSearchChange()">
  </div>

  <div class="col-md-6">
    <select class="form-select" [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChange()">
      <option value="">
        All Categories
      </option>

      @for(category of categories; track category) {

      <option [value]="category">
        {{ category }}
      </option>

      }

    </select>
  </div>

</div>
<div class="card shadow-sm">

  <div class="card-body">

    <table class="table table-hover">

      <thead class="table-dark">

        <tr>

          <th>ID</th>
          <th class="sortable" (click)="sort('name')">

    Name

    @if(sortColumn === 'name'){

        <span>
            {{ sortAscending ? '↑' : '↓' }}
        </span>

    }
    @else{

        <span class="text-muted">
            ↕
        </span>

    }

</th>
          <th class="sortable" (click)="sort('price')">

    Price

    @if(sortColumn === 'price'){

        <span>
            {{ sortAscending ? '↑' : '↓' }}
        </span>

    }
    @else{

        <span class="text-muted">
            ↕
        </span>

    }

</th> 
          <th>Category</th>
          <th>Brand</th>
          <th class="sortable" (click)="sort('quantity')">

    Quantity

    @if(sortColumn === 'quantity'){

        <span>
            {{ sortAscending ? '↑' : '↓' }}
        </span>

    }
    @else{

        <span class="text-muted">
            ↕
        </span>

    }

</th> 
          <th>ItemCode</th>
          <th>Actions</th>

        </tr>

      </thead>

      <tbody>

        @for(product of productdata(); track product.id) {
        <tr (click)="viewProduct(product.id)" style="cursor:pointer">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.brand}}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.itemCode }}</td>


          <td>
            @if (role==='Admin') {
            <button class="btn btn-sm btn-warning me-2" (click)="$event.stopPropagation(); editproducts(product.id)">
              Edit
            </button>
            <button class="btn btn-sm btn-danger" (click)="$event.stopPropagation(); deleteproducts(product.id)">
              Delete
            </button>
            }

          </td>

          <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title">Delete Product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                  Are you sure you want to delete this product?
                </div>

                <div class="modal-footer">
                  <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                  </button>

                  <button class="btn btn-danger" (click)="confirmDelete()">
                    Delete
                  </button>
                </div>

              </div>
            </div>
          </div>

        </tr>

        }

      </tbody>

    </table>

  </div>

</div>

<div class="d-flex justify-content-center align-items-center gap-4 mt-4 flex-wrap">

  <!-- Show Entries -->
 

  <!-- Pagination -->
  <nav>

    <ul class="pagination mb-0">

      <li
        class="page-item"
        [class.disabled]="currentPage === 1">

        <button
          class="page-link"
          (click)="previousPage()">

           ←

        </button>

      </li>

      @for(page of pages; track page){

      <li
        class="page-item"
        [class.active]="currentPage === page">

        <button
          class="page-link"
          (click)="goToPage(page)">

          {{ page }}

        </button>

      </li>

      }

      <li
        class="page-item"
        [class.disabled]="currentPage === totalPages">

        <button
          class="page-link"
          (click)="nextPage()">

          →

        </button>

      </li>

    </ul>

  </nav>
   <div class="d-flex align-items-center gap-2">

    <label class="mb-0 fw-semibold">Show</label>

    <select
      class="form-select form-select-sm w-auto"
      [(ngModel)]="pageSize"
      (change)="onPageSizeChange()">

      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="50">50</option>
      <option [value]="100">100</option>

    </select>

    <span>entries</span>

  </div>

</div>